In [1]:
import pandas as pd
import numpy as np

a) Skewness, Kurtosis & draw inferences on the following data Cars speed and distance

In [2]:
data = pd.read_csv(r"C:\Users\Dell\Downloads\Assignment 1\Q9_a.csv")
data.head()

   Index  speed  dist
0      1      4     2
1      2      4    10
2      3      7     4
3      4      7    22
4      5      8    16

In [3]:
# skewness

data.skew()

Index    0.000000
speed   -0.117510
dist     0.806895
dtype: float64

In [5]:
# kurtosis

data.kurt()

Index   -1.200000
speed   -0.508994
dist     0.405053
dtype: float64

b) Skewness, Kurtosis & draw inferences on the following data SP and Weight(WT)

In [7]:
data1 = pd.read_csv(r"C:\Users\Dell\Downloads\Assignment 1\Q9_b.csv")
data.head()

   Index  speed  dist
0      1      4     2
1      2      4    10
2      3      7     4
3      4      7    22
4      5      8    16

In [9]:
# dropping index column

df = data1.iloc[:,1:]

In [10]:
# skewness

df.skew()

SP    1.611450
WT   -0.614753
dtype: float64

In [11]:
# Kurtosis

df.kurt()

SP    2.977329
WT    0.950291
dtype: float64